* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
 position: relative;
 height: 70px;
 overflow: hidden;
 background-color: rgb(162, 79, 239);
 border-radius: 18px; 
 box-shadow: 0 0 60px rgb(241, 55, 238);
 border-top: 13px solid purple;
 border-bottom: 13px solid purple;
 border-image: url('/Images/Backround\ image\ 2.jpg');
 margin-bottom: 0px;
}

nav > ul{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav li{
    list-style: none;
    margin-right: 10pc;
}

.backgroundhov:hover{
    background-color:rgb(120, 32, 130);
    height: 37px;
    border-radius: 5px;
}

nav li a{
    text-decoration: none;
    color: white;
}

#register:hover{
    background-color:rgb(120, 32, 130);
    height: 37px;
    border-radius: 5px;
}

#login{
margin-left: 230px;
    
}

#login:hover{
    background-color:rgb(120, 32, 130);
    height: 37px;
    border-radius: 5px;
}
#whitestick{
    color: black;
}

h1{
    font-size: 60px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

h2{
    color: black;
    display: grid;
    text-align: center;
    margin-top: 140px;

}

.logo-container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 80px;            
    padding: 0px;
    margin-top: 60px;
}
.logo-container img {
    width: 200px; 
    height: auto;
} 
body {
    background-image: url('/Images/Backround\ image\ 2.jpg'); /* Change to your image path */
    background-size: cover; /* Makes image cover the whole page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}


