nav > ul{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

nav li{
    list-style: none;
    margin-right: 10pc;
}

.backgroundhov:hover{
    background-color:dimgray;
}

nav li a{
    text-decoration: none;
    color: white;
}

#register:hover{
    background-color:dimgray;
}

#login:hover{
    background-color:dimgray;
}
#whitestick{
    color: white;
}

h1{
    font-size: 50px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

h2{
    color: white;
    display: grid;
    text-align: center;
    margin-top: 150px;

}

.logo-container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100px;            
    padding: 0px;
    margin-top: 50px;
}
.logo-container img {
    width: 200px; 
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/Images/Backround\ image\ 2.jpg'); /* Change to your image path */
    background-size: cover; /* Makes image cover the whole page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

